/* Umumiy stylni reset qilish */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Asosiy konteyner */
  body {
    font-family: Arial, sans-serif;
    background-color: #716e06;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Asosiy App konteyneri */
  .App {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: aliceblue;
  }
  
  /* Admin Dashboard container */
  .admin-dashboard {
    padding: 20px;
    border: 1px solid red;
   width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  .admin-dashboard h2 {
    text-align: center;
    margin-bottom: 90px;
  
background-color: aliceblue;
    font-size: 24px;
  }
  
  .admin-dashboard h3 {
    margin-top: 20px;
    font-size: 20px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
  }
  
  /* Product and Cart Item styles */
  .product, .cart-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product button, .cart-item button {
    background-color: #4c9df4;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product button:hover, .cart-item button:hover {
    background-color: #2188f7;
  }
  
  /* Cart container */
  .cart {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .cart h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .cart p {
    text-align: center;
  }
  